---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>🧑‍🚀 Hello, Astronaut!</h2>
			<p>
				<code><a href="https://github.com/lkhrs/astro-simple">astro-simple</a></code> is a blog starter template with <a href="https://astro.build">Astro</a> and <a href="https://github.com/kevquirk/simple.css">Simple.css</a>. Based on the <a href="https://github.com/withastro/astro/tree/main/examples/blog">Astro blog example</a>.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit <code>astro.config.mjs</code> with your website URL</li>
				<li>Edit <code>src/config.ts</code>with your blog name</li>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
