---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
	<p><a href="https://simplecss.org">Simple.css</a> was created by <a href="https://kevq.uk">Kev Quirk</a> and is licensed under the MIT license.</p>
    <p>Starter template by <a href="https://www.lkhrs.com">Luke Harris</a>.</p>
</footer>
