---
import HeaderLink from "./HeaderLink.astro";
const { title, description } = Astro.props.frontmatter || Astro.props;
---

<header>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
	<h1>
		{title}
	</h1>
	{description &&
	<p>{description}</p>
	}
</header>
